<div class="row">
  <div class="col-md-12">
     <% @emails.each do |e| %>
        <%= e.message_id %>
        <%= e.subject %>
        <%= e.body %>
        <%= e.uid %>
      <% end %>
  </div>
</div>